<ul class="insurances">
    {% for insurance in insurances %}
    <li class="insurance">
        <div class="insurance-thumbnail">
            <a href="{{ url_for('.user', username=insurance.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ insurance.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="insurance-content">
            <div class="insurance-date">{{ moment(insurance.timestamp).fromNow() }}</div>
            <div class="insurance-author">第次跟进</div>
            <div class="insurance-body">


                <div class="label label-default">
                    {% if form.insurname %}
                     险种--{{ insurance.insurname }}
                    {% endif %}
                </div>
				 <div class="label label-default">
                    {% if form.toubaoriqi %}
                     投保日期--{{ insurance.toubaoriqi }}
                    {% endif %}
                </div>

            </div>
            {% if moderate %}
                <br>
                {% if insurance.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=insurance.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=insurance.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}

        </div>
        <div class="insurance-footer">
                <a href="{{ url_for('.editii', id=insurance.id) }}">
                    <span class="label label-danger">编辑</span>
                </a>
            </div>
    </li>
    {% endfor %}
</ul>
